form {
        position: absolute;
        top: 40%;
        left: 5%;
        width: 40%;
        border: 5px solid  grey;
        border-radius:1em;
         
      }
 .subform .labels{
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
             
      }